@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.login-form {
  margin: auto;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  width: max-content;
  justify-content: flex-end;
  margin: 3rem auto;
  /* border-radius: 1rem; */
  /* box-shadow: 8.71px 8.71px 15px rgb(0 0 0 / 5%),
    -8.71px -8.71px 15px rgb(0 0 0 / 3%); */
}

.login-input {
  position: relative;
  width: 335px;
}

.flt-label-form {
  left: 35px;
  top: 31px;
  border: none;
  background: none;
  position: absolute;
  pointer-events: none;

  transition: 0.2s ease all;
}

.show-pass {
  position: absolute;
  top: 2.2rem;
  right: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--dk-pink);
  outline: #fff;
}

.mg {
  margin: 1.5rem 0 1rem;
}

.btn-main {
  background-color: var(--dk-pink);
  padding: 0.8rem 1rem;
  color: var(--white-color);
  box-shadow: none;
}

.pink-txt {
  color: var(--dk-pink);
}

.pink-txt:hover {
  text-decoration: underline;
}

.auth-form {
  display: flex;
  align-items: center;
  min-height: 75vh;
  justify-content: center;
}

.auth-img {
  max-width: 730px;
  width: 100%;
}

.login-div {
  display: flex;
}

input[type="date"] {
  font-size: 1.1rem !important;
  color: var(--dk-pink);
  font-family: "Varela Round", sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: orange;
}

.ptb-1 {
  padding: 1rem 0;
}
